<section class="section experiences-section">
  <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiência Profissional</h2>
  {% for experience in site.data.experience %}
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">{{ experience.role }}</h3>
          <div class="time">{{ experience.start_date }} - {{ experience.end_date }}</div>
        </div><!--//upper-row-->
        <div class="company">{{ experience.company }}</div>
      </div><!--//meta-->
      <div class="details">
        <p>Principais atribuições:</p>
        <ul class="mt-2">
          {% for description in experience.description %}
          <li>{{ description }}</li>
          {% endfor %}
        </ul>
      </div><!--//details-->
    </div><!--//item-->
  {% endfor %}
</section>