<div class="skills-container container-block">
    <h2 class="container-block-title">Skills</h2>
    <div class="skillset">
        {% for skill in site.data.skill %}
            <div class="item">
                <h4 class="degree">{{ skill.title }}</h4>
                <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{ skill.value }}%" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div><!--//item-->
        {% endfor %}
    </div>
</div>